<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Pagina Central</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
</head>
<body> 
<div id=sidebar> 
  <div class="toggle-btn"> 
     <span>&#9776;</span>
  </div>
  <ul>
    <li>
      <img src="{{ url_for('static', filename='css/Arbol.jpg') }}" alt="Logotipo" class="logo">
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Tu_Arbol">Tu Arbol</a>
    <li class="nav-item">
      <a class="nav-link" href="/Desempeño">Desempeño</a>
    <li class="nav-item" id="contenedor">
      <a class="nav-link" href="javascript:abrir()">+Agregar Lista</a>
    
  </ul>
</div>

<div class="Texto_Centro" id="ventana">
  <div id="cerrar"> <a href="javascript:cerrar()"> <img src="{{ url_for('static', filename='css/Equis.png') }}"> </a> </div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">

            <h1 class="h1">Agregar Lista</h1>

            <form id="task-form">
              <div class="form-group">
                <input type="text" id="task-title" class="form-control" class="actividad" placeholder="actividad"
                  autofocus>
              </div>
              <div class="form-group">
                <textarea id="task-description" rows="3" class="form-control" placeholder="agregar nota (opcional)"></textarea>
              </div>

              <button class="btn btn-primary" id="btn-task-form">
                agregar.
              </button>

            </form>
          </div>
        </div>
      </div>
   
      <div class="col-md-7" id="tasks-container"></div>
    </div>
  </div>
  <script>src="{{ url_for('static', filename='css/index.js') }}"</script>
 
  <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>

  
     <script>
       var firebaseConfig = {
        apiKey: "AIzaSyDEPNXvraTWqPpY041JhTm8DwAKHAE0sCI",
        authDomain: "dede-2d584.firebaseapp.com",
        projectId: "dede-2d584",
        storageBucket: "dede-2d584.appspot.com",
        messagingSenderId: "24018086500",
        appId: "1:24018086500:web:ecf993d8e783fba3e54d71",
        measurementId: "G-GZHDPEP6F4"
       }
       firebase.initializeApp(firebaseConfig)
     </script>

  <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-firestore.js"></script>

  <script>
  
    var firebaseConfig = {
  
    };
  
    firebase.initializeApp(firebaseConfig);
  </script>
  <script src="{{ url_for('static', filename='css/index.js') }}"></script>
</div>


<h1>Listas</h1>
<h2>Listas Completadas</h2>


<script src="{{ url_for('static', filename='css/main.js') }}" charset="utf-8"></script>


<script>

  function abrir(){
    document.getElementById("ventana").style.display="block";
  }

  function cerrar(){
    document.getElementById("ventana").style.display="none";
  }
</script>
</body>
</html>